<div>
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<h4>Details</h4>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form>
				<mat-form-field>
					<input 
						[(ngModel)]="apiService.details.ipAddr" 
						name="ipaddr" 
						matInput 
						placeholder="IP Address"
						autocomplete="ipaddr"
					>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input 
						[(ngModel)]="apiService.details.subnet" 
						name="subnet" 
						matInput 
						placeholder="Subnet"
						autocomplete="subnet"
					>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input 
						[(ngModel)]="apiService.details.networkGateway" 
						name="gateway" 
						matInput 
						placeholder="Network Gateway"
						autocomplete="gateway"
					>
				</mat-form-field>
				<br>
				<button (click)="updateDetails()" mat-raised-button color="primary">Update</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>